# we do not store binary outputs in Flex

# windows
*.exp
*.ilk

# android
*.apk
demo/compiler/vc14win64/.idea/.idea.flexDemoCUDA/.idea/

demo/compiler/vc14win64/build/win64/release/

bin/win64/NvFlexDemoReleaseCUDA_x64.exe.pdb

bin/win64/NvFlexDemoReleaseCUDA_x64.exe

extensions/compiler/vc14win64/build/win64/release/flexExtCUDA.tlog/

bin/win64/NvFlexExtReleaseCUDA_x64.dll

bin/win64/NvFlexExtReleaseCUDA_x64.dll.pdb

extensions/compiler/vc14win64/build/win64/release/NvFlexExtReleaseCUDA_x64.iobj
